





/*-- larger screens --*/
@media(min-width: 766px) { 
  .view__content img {
    float: left;
    border: 10px solid #ccc;
    max-width: 340px;
    height: inherit;
    margin: 0 10px 10px 0;
  }
}
.view__content::after { 
  display: block;
  content: "";
  clear: both; 
}