
.VerticalNav, 
.VerticalNav::before{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%; 
  z-index: 99;
}
.VerticalNav::before{
  content: '';
  background: rgba(255, 255, 255, 0.6);
}
.VerticalNav > nav {
  position: relative;
  z-index: 100;
  width: 230px; 
  background: #fff;
  height: 100%; 
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.VerticalNav .nav { 
  padding: 10px 0; 
  font-size: 1.1rem;
}
.VerticalNav .nav a,
.VerticalNav .nav .btn-logout { 
  display: block;
  padding: 10px 20px; 
  color: rgba(0,0,0,.6); 
  background: transparent; 
  width: 100%;
  border: 0px solid transparent;
  text-align: left;
  border-radius: 0;
}
.VerticalNav .nav a.active,
.VerticalNav .nav a:hover,
.VerticalNav .nav .btn-logout:hover {  
  text-decoration: none;
  background: rgba(0,0,0,.1);
}
.VerticalNav .nav-item { 
  display: block; 
  width: 100%;
}
.VerticalNav hr {
  width: 100%;
  position: relative;
  left: 0px;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 0px solid #000;
  margin: 0;
}
.VerticalNav hr.space { 
  margin-top: 10px;
  margin-bottom: 10px;
}

.VerticalNav .UserAvatar {
  padding: 20px;
}
.VerticalNav .UserAvatar > img {
  width: 60px;
  height: 60px;
}
.VerticalNav .UserAvatar > p {
  font-weight: bold;
  font-size: 1.2rem;
}