
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #eee;
  overflow-y: scroll;
}
.App > .app-content {
  position: relative;
  margin-bottom: 60px; 
  /*-- We want the content to occupy the rentire height 
  real estate left by 'app-header' and 'app-footer' --*/
  flex: 1; 
  width: 100%;
  max-width: 700px;
  z-index: 1;
}


.App > .app-header,
.App > .app-footer {  
  z-index: 2;
}

@media(max-width: 765px) {  
  .App > .app-content { 
    margin-top: 80px; /*67px; */
  } 
}


/*-- larger screens --*/
@media(min-width: 766px) { 
  .App > .app-content {
    margin: auto;
    margin-top: 60px; 
  } 
}


 


/**
 * all buttons with SVG icons
 * ------------------
*/
.btn .svg-inline--fa {
  margin-right: 20px;
}