
.app-header { 
  padding: 10px 15px;  
  background-color: #222;  
  z-index: 2;
}
.app-header__top {
  display: flex;
  align-items: center; 
  width: 100%;
}



.App-brand {
  margin: 0; 
}
.App-brand a { 
  color: lime;
  text-decoration: none;
}
.App-brand small {
  font-style: italic;
  color: #ccc; 
}

.btn-toggle-vertNav--sm,
.btn-toggle-vertNav--lg button,
.btn-toggle-vertNav--lg button:hover {
  background: transparent;
  border: 0px solid;
}
.btn-toggle-vertNav--sm {
  padding-left: 0;
  padding-right: 0;
  width: 50px;
}

.btn-toggle-vertNav--lg.dropdown .nav-item a {
  width: 100%;
  display: block;
  padding: 6px 20px;
} 


@media(max-width: 765px) {  
  .app-header {
    position: fixed; 
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px; 
    background-color: #222;  
  }
  .app-header__top {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .app-header .user-avatar{ 
    margin-right: 10px;
  }
  .App-brand { 
    font-size: 1.1rem; 
  }
  .App-brand small { 
    font-size: 0.8rem;
  }
  .btn-toggle-vertNav--lg {
    display: none;
  }
}

@media(min-width: 766px) { 
  .app-header { 
    padding: 20px;  
  }
  .app-header__top { 
    justify-content: space-between;    
    margin-bottom: 20px;  
  }
  .App-brand { 
    font-size: 1.5rem; 
  }
  .App-brand small { 
    font-size: 1rem;
  } 
  .btn-toggle-vertNav--sm { 
    display: none;
  }
}