

.UserMessageList__title { 
  color: #fff;
  background: #333;
  padding: 5px 15px;
  margin: 0;
}
.UserMessageList {
  padding-left: 20px;
  padding-right: 20px;
}
.UserMessageList .card {
  margin-bottom: 20px;
}
.UserMessageList .fa-heart {
  color: lime;
}