

.app-footer {   
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #333; 
}
   
.app-footer a {
  color: lime;
  font-size: 0.9rem;
} 
.app-footer p {
  margin-bottom: 0;
} 