/* .App {
  text-align: center;
} */


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #eee;
}
.App__footer a {
  color: lime;
  font-size: 0.9rem;
} 

.App__content {
  flex: 1; 
  max-width: 700px;
}



/*-- larger screens --*/
@media(min-width: 766px) { 
  .App__content { 
    margin: auto;
  } 
}

.view__content::after {
  
    display: block;
    content: "";
    clear: both;
 
}
.view__content img {
  float: left;
  max-width: 340px;
  height: inherit;
  margin: 0 10px 10px 0;
}


.App__footer {
  position: relative;
  z-index: 100;
  background-color: #333; 
}
 




.view--login {
  text-align: center;
}



/**
 * app__btn component
 * ------------------
*/
.app__btn {
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}
.app__btn--icon { 
  padding: 0;
  display: flex; 
  align-items: center;
  padding-right: 10px;
}
.app__btn--icon > svg { 
  padding: 10px; 
  margin-right: 10px;
}
.app__btn--icon.icon-google {  
  color: #fff;  
  border: 1px solid #4688F1;
  background-color: #4688F1;
}
.app__btn--icon.icon-google > svg {  
  color: #4688F1;
  background: #fff; 
}
